@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bruce's Demo Page</title>
</head>
<body>
    <div class="container"><div>Bruce's Product Recommendations Demo</div></div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mustache")
    @Scripts.Render("~/bundles/js")
</body>
</html>
